ul { list-style: none; }
header a { text-decoration: none; color: white; }
html, body {
  padding:0;
  margin:0;
  display: flex;
  flex-flow: column nowrap;
  font-family: Proxima Nova;
}
.header {
  width: 100%;
  height: 120px;
  background: #363f48;
  font-size: 14px;
}
.headWrap {
  position: relative;
  width: 940px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  align-items: center;
}
.logo {
  width: 174px;
  height: 56px;
  color: white;
  font-family: HelveticaNeue LT;
  font-size: 30px;
  outline: 2px solid white;
  line-height: 56px;
  text-align: center;
}
.header ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
header ul li {
  padding-right: 30px;
}
.topMenu ul li a:hover {
  background: #fff;
  color: black;
}
.login {
  margin-left: auto;
  color: #8e97a0;
  padding-right: 16px;
  padding-left: 15px;
}
.textWrap {
  width: 86px;
  height: 33px;
  text-align: center;
  line-height: 33px;
  background: url(images/signUp.png) no-repeat;
}
main {
  position: relative;
  width: 940px;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  align-items: baseline;
}
section {
  width: 699px;
  overflow-wrap: break-word;

}
section a {
  color: #2cc76a;
}
aside {
  padding-left: 18px;
  width: 240px;
  font-size: 16px;
}
h1 {
  margin-top: 42px;
  margin-bottom: 0px;
  font-size: 30px;
}
p {
  margin-top: 0px;
  font-size: 16px;
  color: #767676;
}
.image1 {
  width: 699px;
  height: 293px;
  margin-bottom: 23px;
}
article {
  color: #767676;
}
.comment {
  font-size: 22px;
  font-weight: bold;
}
.commentForm {
  margin-top: 26px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
input[type="text"] {
  border: 1px solid #a9a9a9;
  outline: none;
  width: 335px;
  height: 42px;
  color: #8c8c8c;
  font-size: 16px;
}
.messageForm {
  margin-top: 15px;
  border: 1px solid #a9a9a9;
  outline: none;
  width: 697px;
  height: 115px;
  color: #8c8c8c;
  font-size: 16px;
  resize: none;
}
#submitComment {
  width: 240px;
  height: 62px;
  border: 0px solid #a9a9a9;
  background: url(images/submitComment.png) no-repeat;
  color: white;
  text-family: HelveticaNeue;
  font-size: 20px;
  margin-top: 13px;

}
.commentData1 {
  margin-top: 40px;
  margin-bottom: 34px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}
.commentData2 {
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}
.commentImage {
  width: 60px;
  height: 60px;
  background: url(images/commentImage.png) no-repeat;
  flex: 0 0 auto;
}
.flex {
  margin-left: 21px ;
  display: flex;
  flex-flow: column nowrap;
}
.commentName {
  font-family: HelveticaNeue;
  font-size: 20px;
  height: 20px;
}
.commentSpeech {
  margin-top: 15px;
}
.commentInfo {
  font-weight: lighter;
  font-size: 14px;
  margin-top: 18px;
}
.name {
  margin-top: 42px;
  margin-bottom: 25px;
  font-size: 22px;
  color: black;
}
aside ul {
  padding-left: 0px;
  display: flex;
  flex-flow: column nowrap;
}
aside li {
  padding-bottom: 7px;
}
aside a {
  text-decoration: none;
  color: #767676;
}
footer {
  width: 100%;
  height: 297px;
  background: #262e34;
  font-size: 14px;
}
.footerWrap {
  position: relative;
  width: 940px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}
.footer ul {

}
.contacts {

}
.h {
  color: #68737b;
  padding-bottom: 20px;
  font-size: 14px;
}
h3 {
  margin-top: 68px;
  margin-bottom: 20px;
  font-weight: normal;
}
.c {
  color: white;
  padding: 0;

}
.c li {
  padding-bottom: 12px;
}
.c li a {
  color: white;
  text-decoration: none;
}
.footerTable {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}
.chat {
  width: 138px;
  height: 33px;
  background: url(images/chatWithUs.png) no-repeat;
  text-align: center;
  line-height: 33px;
}
.copyright {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  color: white;
  width: 100%;
  margin-bottom: 52px;

}
.flathost {
  width: 89px;
  height: 27px;
  background: url(images/flathost.png) no-repeat;
}

@media all and (max-width: 1040px) {
  .headWrap {
    left: 0px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
  }
  main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  aside {
    margin: 0 auto;
  }
  /* .footerWrap {
    display: flex;
    flex-flow: column nowrap;
  }
  .footerTable {
    display: flex;
    flex-flow: row wrap;
  } */

}
